{% extends "base.html" %}

{% block content %}
<div id="id_current_active" name="id_categories"></div>   


<div class="container-fluid mb-3">
    <div class="row">
        <div class="col-12 col-sm-6 mt-2">
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text fa fa-search"></span>
                </div>
                <input type="text" class="form-control" placeholder="Category search...">
            </div>            
        </div>
        <div class="col-lg-3 mt-2"></div>

        <div class="col-12 col-sm-6 col-lg-3 mt-2 text-right">
            <button class="btn btn-sm btn-block btn-reverse-mono" onclick="location.href='{% url 'category_create' %}'">
                ADD CATEGORY 
                <span class="fa fa-plus"></span>
            </button>
        </div>
    </div>
</div>
{# 123 #}

{% comment %} <div class="container-fluid">
    <table class="table table-bordered">
        <thead class="thead-mono">
            <tr>
                <th class="w-10 align-middle text-right thead-text-mono">#</th>
                <th class="w-50 align-middle thead-text-mono">
                    CATEGORY
                </th>
                <th class="w-40 align-middle thead-text-mono">ITEM</th>
            </tr>
        </thead>
        <tbody>
            {% for category in category_list %}
                <tr class="tbody-mono">
                    <th class="w-10 text-right tbody-cap-mono">
                        <span class="order-id">.</span>
                    </th>
                    <td class="w-50">
                        <a href="{% url 'category_detail' pk=category.pk %}" class="tbody-cap-mono">{{category.name}}</a>
                        <span class="text-truncate-2 tbody-detail-mono">{{category.description}}</span>
                    </td>
                    <td class="w-40">
                        <div class="row m-0">
                            {% for item in category.item_set.all|slice:":3" %}
                                <div class="col-6 col-sm-3 p-1">
                                    {% if item.image %}
                                        <img src="{{item.image.url}}" alt="{{item.image.url}}" class="img-thumbnail">
                                    {% else %}
                                        <img src="//placehold.it/512x512" class="img-thumbnail">
                                    {% endif %}
                                </div>
                            {% endfor %}
                            
                            {% if category.item_set.all.count > 3 %}
                                <div class="col-6 col-sm-3 p-1">
                                    <img src="//placehold.it/512x512?text=..." class="img-thumbnail">
                                </div>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}

        </tbody>
    </table>    
</div> {% endcomment %}
{% comment %} 
<script>
    $(document).ready(function() {
        $("#searchText").on("keyup",function() {
            var value = $(this).val().toLowerCase();
            $("#categoryData tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

        

    });

</script> {% endcomment %}

<div class="container-fluid">
    <table class="fix-1stCol-responstable">
        <tr  class="thead-mono thead-text-mono">
            <th class="w-10">#</th>
            <th class="w-50" data-th="DETAIL">CATEGORY</th>
            <th class="w-40">ITEM</th>
        </tr>
        
        {% for category in category_list %}
            <tr class="tbody-mono">
                <td data-title="id" class="text-center"><span class="order-id">.</span></td>
                <td data-title="category">
                    <a href="{% url 'category_detail' pk=category.pk %}" class="tbody-cap-mono">{{category.name}}</a>
                    <span class="text-truncate-2 tbody-detail-mono">{{category.description}}</span>
                </td>
                <td data-title="item">
                    {% comment %} <div class="container"> {% endcomment %}
                        <div class="row m-0">
                            {% for item in category.item_set.all|slice:":3" %}
                                <div class="col-6 col-sm-3 p-1">
                                    <a href="{% url 'item_detail' pk=item.pk %}">
                                        {% if item.image %}
                                            <img src="{{item.image.url}}" alt="{{item.image.url}}" class="img-thumbnail">
                                        {% else %}
                                            <img src="//placehold.it/512x512" class="img-thumbnail">
                                        {% endif %}
                                    </a>
                                </div>
                            {% endfor %}

                            {% if category.item_set.all.count > 3 %}
                                <div class="col-6 col-sm-3 p-1">
                                    <a href="{% url 'category_detail' pk=category.pk %}">
                                        <img src="//placehold.it/512x512?text=..." class="img-thumbnail">
                                    </a>
                                    
                                </div>
                            {% endif %}
                        </div>
                    {% comment %} </div> {% endcomment %}
                </td>
            </tr>
            
        {% endfor %}
            

        {% comment %} <tr class="tbody-mono">
            <td>1</td>
            <td>2</td>
            <td>3</td>
        </tr> {% endcomment %}
    </table>
</div>





{% endblock content %}

<!--
    <div class="card-group" id="categoryData">
        {% for category in category_list %}
        <div class="col-sm-4 py-3">
            <div class="card border-dark h-100 mb-5" onclick="location.href='{% url 'category_detail' pk=category.pk %}'">
                <div class="card-header bg-dark text-info">
                    <a href="{{ category.get_absolute_url }}"
                       class="float-right">
                        <span class="text-warning fa fa-pencil"></span>
                    </a>
                    <p>{{category.name}} </p>
                    <small> {{ category.description }} </small>
                </div>
                <div class="card-body">
                    <div class="row">
                        {% if category.get_items %}
                            {% for item in category.get_items %}
                                <div class="col-6 col-sm-6 py-2 px-2">
                                    <img src="//placehold.it/512x512" class="card-img-top">
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="col-6 col-sm-6 py-2 px-2">
                            <img src="//placehold.it/123?text=..." class="card-img-top">
                        </div>

                    </div>
                </div>
            </div>

        </div>
        {% endfor %}
    </div>
-->