{% extends "base.html" %}

{% load widget_tweaks %}
{% block content %}
<div id="id_current_active" name="id_itemactions">
    </div> 
    
<div class="card border-mono">
    <div class="card-header">
        {% if itemaction %}
            <h3 class="m-1">
                <strong>
                    CHANGE ITEM ACTION
                </strong>
            </h3>
            <div class="modal fade" id="confirm_delete_{{itemaction.pk}}">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <form action="{% url 'itemaction_delete' pk=itemaction.pk %}" method="POST">
                            {% csrf_token %}
                            <!-- Modal Header -->
                            <div class="modal-header">
                                    <h4 class="modal-title">Delete Item Action</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            
                            <!-- Modal body -->
                            <div class="modal-body">
                                Are you sure you want to delete the item action: {{ form.name.value }} ??
                                <div class="container-fluid">
                                    <div class="row mt-3">
                                        <div class="col-0 col-sm-6">
                                        </div>
                                        <div class="col-6 col-sm-3">
                                            <button type="submit" class="btn btn-danger btn-sm btn-block">Yes, delete</button>
                                        </div>
                                        <div class="col-6 col-sm-3">
                                            <button type="button" class="btn btn-primary btn-sm btn-block" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            <!-- Modal footer -->
                            {% comment %} <div class="modal-footer">
                            </div> {% endcomment %}
                        </form>
                    </div>
                </div>
            </div>    
        {% else %}
            <h3 class="m-1">
                <strong>
                    ADD ITEM ACTION
                </strong>
            </h3>
        {% endif %}
    </div>
    <div class="card-body">
        <form method="post" novalidate>
            {% csrf_token %}
            
            
            {% include './includes/bs4_form.html' with form=form %}
        

            <div class="container-fluid">
                <div class="row">
                    <div class="col-0 col-sm-6">
                    </div>
                    <div class="col-6 col-sm-3">
                        {% if itemaction %}
                            <button type="button" class="btn btn-danger btn-sm btn-block" data-toggle="modal"  
                                data-target="#confirm_delete_{{itemaction.pk}}">DELETE
                            </button>
                            {% comment %} <a href="{% url 'itemaction_delete' pk=itemaction.pk %}">del</a> {% endcomment %}
                        {% else %}
                            <button type="reset" class="btn btn-dark btn-sm btn-block">RESET</button>    
                        {% endif %} 
                    </div>
                    <div class="col-6 col-sm-3">
                        <button type="submit" class="btn btn-primary btn-sm btn-block">SAVE</button>
                    </div>
                </div>
            </div>

            
        </form>
    </div>
</div>




{% comment %} 
<form action=""
      method="POST"
      role="form"
      class="form-horizontal">

    {% csrf_token %}


    <div class="container-fluid">
        <div class="row">
            <h3>CHANGE ITEM ACTION</h3>
            <br>
            {% for field in form %}
            <div class="col-xs-7">
                <div class="form-group"
                     style="margin-left: 20px">
                    <label for="id_{{ field.lable_tag }}">{{ field.label_tag }}</label>
                    {% render_field field class="form-control" %}
                    <span class="help-block"> {{ field.help_text }} </span>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="row">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-md-6">
                        <button type="button"
                                class="btn btn-danger"
                                onclick="location.href='{{ itemaction.get_delete_url }}'">DELETE</button>
                    </div>
                    <div class="col-md-6 text-right">
                        <button type="submit"
                                class="btn btn-primary">SAVE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form> {% endcomment %}


{% endblock content %}