{% extends "base.html" %}


{% block content %}
<div id="id_current_active" name="id_items">
</div> 

<div class="card border-mono">
    <div class="card-header">
        {% if item %}
            <h3 class="m-1">
                <strong>
                    CHANGE ITEM
                </strong>
            </h3>
            <div class="modal fade" id="confirm_delete_{{item.pk}}">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <form action="{% url 'item_delete' pk=item.pk %}" method="POST">
                            {% csrf_token %}
                            <!-- Modal Header -->
                            <div class="modal-header">
                                    <h4 class="modal-title">Delete Item</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            
                            <!-- Modal body -->
                            <div class="modal-body">
                                Are you sure you want to delete the item: {{ form.name.value }} ??
                                <div class="container-fluid">
                                    <div class="row mt-3">
                                        <div class="col-0 col-sm-6">
                                        </div>
                                        <div class="col-6 col-sm-3">
                                            <button type="submit" class="btn btn-danger btn-sm btn-block">Yes, delete</button>
                                        </div>
                                        <div class="col-6 col-sm-3">
                                            <button type="button" class="btn btn-primary btn-sm btn-block" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            <!-- Modal footer -->
                            {% comment %} <div class="modal-footer">
                            </div> {% endcomment %}
                        </form>
                    </div>
                </div>
            </div>    
        {% else %}
            <h3 class="m-1">
                <strong>
                    ADD ITEM
                </strong>
            </h3>
        {% endif %}
    </div>
    <div class="card-body">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            {% include './includes/bs4_form.html' with form=form %}



            


 


            <div class="container-fluid">
                <div class="row">
                    <div class="col-0 col-sm-6">
                    </div>
                    <div class="col-6 col-sm-3">
                        {% if item %}
                            <button type="button" class="btn btn-danger btn-sm btn-block" data-toggle="modal"  
                                data-target="#confirm_delete_{{item.pk}}">DELETE
                            </button>
                        {% else %}
                            <button type="reset" class="btn btn-dark btn-sm btn-block">RESET</button>    
                        {% endif %} 
                    </div>
                    <div class="col-6 col-sm-3">
                        <button type="submit" class="btn btn-primary btn-sm btn-block">SAVE</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



{% comment %} <form method="post"
      novalidate>
    {% csrf_token %}

    <div class="row"
         style="padding-left:50px; padding-right:50px; padding-bottom:50px">
        {% include './includes/bs4_form.html' with form=form %}
    </div>

    <div class="row thumbnail thumbnail-sm"
         style="padding:10px; background: #eee">
        <div class="col-xs-6 col-md-6">
            <button type="button"
                    class="btn btn-danger"
                    onclick="location.href='{{ item.get_delete_url }}'">DELETE</button>
        </div>
        <div class="col-xs-6 col-md-6 text-right">
            <button type="submit"
                    class="btn btn-primary">SAVE</button>
        </div>
    </div>

</form> {% endcomment %}



{% endblock content %}