{% extends "base.html" %}

{% block content %}
    <div id="id_current_active" name="id_itemactions">
    </div>

    <div class="container-fluid mb-3">
        <div class="row">
            <div class="col-12 col-sm-6 mt-2">
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text fa fa-search"></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Action search...">
                </div>            
            </div>
            <div class="col-lg-3 mt-2"></div>

            <div class="col-12 col-sm-6 col-lg-3 mt-2 text-right">
                <button class="btn btn-sm btn-block btn-reverse-mono" onclick="location.href='{% url 'itemaction_create' %}'">
                    ADD ACTION 
                    <span class="fa fa-plus"></span>
                </button>
            </div>
        </div>
    </div>
    {# 123 #}

    {# id, date, price, quantity, item, status #}
    {# item -> name, category -> name #}


    {% comment %} <table class="table table-bordered">
        <thead>
            <tr>
                <th class="w-50">A</th>
                <th class="w-30 d-none d-md-table-cell">B</th>
                <th class="w-20">C</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="w-50">1</td>
                <td class="w-30 d-none d-md-table-cell">2</td>
                <th class="w-20">3</th>
            </tr>
        </tbody>
    </table> {% endcomment %}
    


    {% comment %} <div class="container-fluid">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr class="thead-text-mono thead-mono">
                        <th class="w-15">Date</th>
                        <th class="w-15">Category</th>
                        <th class="w-20">Item</th>
                        <th class="w-15 text-right">Price</th>
                        <th class="w-10 text-right">Quantity</th>
                        <th class="w-15 text-right">Total</th>
                        <th class="w-10 text-center">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for itemaction in itemaction_list %}
                        <tr class="tbody-mono">
                            <td class="w-15">
                                {{itemaction.date}}
                                <a href="{{ itemaction.get_absolute_url }}" class="float-right">
                                    <span class="text-warning fa fa-pencil"></span>
                                </a>
                            </td>
                            <td class="w-15">{{itemaction.item.category}}</td>
                            <td class="w-20">{{itemaction.item}}</td>
                            <td class="w-15 text-right">{{itemaction.price}}</td>
                            <td class="w-10 text-right">{{itemaction.quantity}}</td>
                            <td class="w-15 text-right">{{itemaction.get_total}}</td>
                            <td class="w-10 text-center">
                                {% if itemaction.status == 'i' %}
                                    INPUT
                                {% else %}
                                    OUTPUT
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
    
                </tbody>
            </table>    
        </div>
        
    </div> {% endcomment %}

    {% comment %} <div class="container">
        <div class="row">
            <div class="col-md-6">
            <br>
            <table class="table table-bordered table-striped">
                <colgroup>
                <col class="col-md-4 d-none">
                <col class="col-md-7">
                </colgroup>
                <tbody>
                <tr>
                    <td>Lorem ipsum dolor sit amet, mel habeo paulo corpora</td>
                    <td>Lorem ipsum dolor sit amet, mel habeo paulo corpora ei, in sea discere verterem probatus. Mea ei quot doming quidam, homero quidam suavitate eam ad.</td>
                </tr>
                <tr>
                    <td>Lorem ipsum dolor sit amet, mel habeo paulo corpora</td>
                    <td>Lorem ipsum dolor sit amet, mel habeo paulo corpora ei, in sea discere verterem probatus. Mea ei quot doming quidam, homero quidam suavitate eam ad.</td>
                </tr>
                <tr>
                    <td>Lorem ipsum dolor sit amet, mel habeo paulo corpora</td>
                    <td>Lorem ipsum dolor sit amet, mel habeo paulo corpora ei, in sea discere verterem probatus. Mea ei quot doming quidam, homero quidam suavitate eam ad.</td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div> {% endcomment %}
    
    {% comment %} <div class="container-fluid">
        <div class="row">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr class="d-flex">
                        <th class="col-md-3 d-none d-sm-none d-md-block">1</th>
                        <th class="col-md-6">2</th>
                        <th class="col-md-3">3</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="d-flex">
                        <td class="col-md-3 d-none d-sm-none d-md-block">a</td>
                        <td class="col-md-6">b</td>
                        <td class="col-md-3">c</td>
                    </tr>
                    <tr class="d-flex">
                        <td class="col-md-3 d-none d-sm-none d-md-block">x</td>
                        <td class="col-md-6">y</td>
                        <td class="col-md-3">z</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> {% endcomment %}



    <table class="table table-bordered">
        <thead>
            <tr class="d-flex thead-text-mono thead-mono">
                <th class="col-6 d-block d-lg-none d-xl-none">Date</th>
                <th class="col-6 d-block d-lg-none d-xl-none">Detail</th>

                <th class="col-lg-2 d-none d-lg-block">Date</th>
                <th class="col-lg-2 d-none d-lg-block">Category</th>
                <th class="col-lg-2 d-none d-lg-block">Item</th>
                <th class="col-lg-2 d-none d-lg-block text-right">Price</th>
                <th class="col-lg-1 d-none d-lg-block text-right">Quantity</th>
                <th class="col-lg-2 d-none d-lg-block text-right">Total</th>
                <th class="col-lg-1 d-none d-lg-block text-center">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for itemaction in itemaction_list %}
                <tr class="d-flex tbody-mono">
                    <td class="col-6 d-block d-lg-none d-xl-none">
                        
                        
                        <div class="text-right mb-2">
                            {% if itemaction.status == "o" %}
                                <div class="badge badge-warning">
                                    out
                                </div>
                            {% else %}
                                <div class="badge badge-danger">
                                    in
                                </div>
                            {% endif %}
                            <div class="float-left">
                                <h6 class="mb-2"><small><strong>{{itemaction.date}}</strong></small></h6>
                            </div>
                        </div>
                        
                        
                    
                        <div class="text-secondary">
                            <small>Category: </small> {{itemaction.item.category}}
                        </div>
                    </td>
                    <td class="col-6 d-block d-lg-none d-xl-none">
                        <div class="text-right mb-2">
                            <a href="{{ itemaction.get_absolute_url }}">
                                <div class="badge badge-dark">
                                    <span class="fa fa-pencil"></span>
                                </div>
                            </a> 
                            <span class="float-left"><h6 class="mb-2"><small><strong>{{itemaction.item}}</strong></small></h6></span>
                        </div>

                         
                        
                        

                        
                        <small><div class="text-right"><span class="float-left">Price:</span>{{itemaction.price}}</div></small>
                        <small><div class="text-right"><span class="float-left">Quantity:</span>{{itemaction.quantity}}</div></small>
                        <hr class="m-0">
                        <small><div class="text-right"><span class="float-left">Total:</span>{{itemaction.get_total}}</div></small> 

                    </td>
                    <td class="col-lg-2 d-none d-lg-block">
                        <a href="{{ itemaction.get_absolute_url }}" class="float-left">
                            <div class="badge badge-dark">
                                <span class="fa fa-pencil"></span>
                            </div>
                        </a>
                        &nbsp;{{itemaction.date}}</td>
                    <td class="col-lg-2 d-none d-lg-block">{{itemaction.item.category}}</td>
                    <td class="col-lg-2 d-none d-lg-block">{{itemaction.item}}</td>
                    <td class="col-lg-2 d-none d-lg-block text-right">{{itemaction.price}}</td>
                    <td class="col-lg-1 d-none d-lg-block text-right">{{itemaction.quantity}}</td>
                    <td class="col-lg-2 d-none d-lg-block text-right">{{itemaction.get_total}}</td>
                    <td class="col-lg-1 d-none d-lg-block text-center">
                        {% if itemaction.status == "o" %}
                            <div class="badge badge-warning">
                                out
                            </div>
                        {% else %}
                            <div class="badge badge-danger">
                                in
                            </div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>



    <script>
        $(document).ready(function() {
            $("#searchText").on("keyup",function() {
                var value = $(this).val().toLowerCase();
                $("#categoryData tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
{% endblock content %}

<!--
    <div class="card-group" id="categoryData">
        {% for category in category_list %}
        <div class="col-sm-4 py-3">
            <div class="card border-dark h-100 mb-5" onclick="location.href='{% url 'category_detail' pk=category.pk %}'">
                <div class="card-header bg-dark text-info">
                    <a href="{{ category.get_absolute_url }}"
                       class="float-right">
                        <span class="text-warning fa fa-pencil"></span>
                    </a>
                    <p>{{category.name}} </p>
                    <small> {{ category.description }} </small>
                </div>
                <div class="card-body">
                    <div class="row">
                        {% if category.get_items %}
                            {% for item in category.get_items %}
                                <div class="col-6 col-sm-6 py-2 px-2">
                                    <img src="//placehold.it/512x512" class="card-img-top">
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="col-6 col-sm-6 py-2 px-2">
                            <img src="//placehold.it/123?text=..." class="card-img-top">
                        </div>

                    </div>
                </div>
            </div>

        </div>
        {% endfor %}
    </div>
-->







