{% extends "base.html" %}


{% block content %}
<div id="id_current_active" name="id_items">
</div> 
    


    <div class="container-fluid">
        <table class="table table-bordered">
            <thead class="thead-mono">
                <tr>
                    <th class="thead-text-mono">
                        ITEM
                        <a href="{{ item.get_absolute_url }}" class="float-right">
                            <span class="text-warning fa fa-pencil"></span>
                        </a>
                    </th>
                    
                </tr>
            </thead>
            <tbody class="tbody-mono">
                <tr>
                    <td>
                        <div class="row">
                            <div class="col-12 col-sm-4 col-md-3">
                                {% if item.image %}
                                    <img src="{{item.image.url}}" alt="{{item.image.url}}" class="img-thumbnail" style="width: 100%">
                                {% else %}
                                    <img src="//placehold.it/512x512" class="img-thumbnail" style="width: 100%">
                                {% endif %}
                            </div>
                            <div class="col-12 col-sm-8 col-md-9">
                                <p class="mt-2 mb-1"><strong>{{item.name}}</strong></p>
                                {{item.description}}
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    
    



    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-sm-12 col-lg-2 mt-2">
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Row:</label>
                    </div>
                    <select id="pageLength" class="custom-select custom-select-sm">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4 mt-2">
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">
                            <span class="fa fa-search"></span>
                        </label>
                    </div>
                    <input type="text" id="searchText" class="form-control form-control-sm" placeholder="Search...">
                </div>
            </div>
            <div class="col-sm-0 col-lg-3">
            </div>
            <div class="col-sm-12 col-lg-3 mt-2">
                <button class="btn btn-sm btn-block btn-reverse-mono" onclick="location.href='{% url 'itemaction_create'%}'">
                    ADD ACTION &nbsp;
                    <span class="fa fa-plus"></span>
                </button>
            </div>
        </div>
    </div>

    

    <div class="container-fluid mt-2">
        <table id="detailTable" class="table table-bordered">
                <thead>
                    <tr class="d-flex thead-text-mono thead-mono">
                        <th class="col-6 d-block d-lg-none d-xl-none">Date</th>
                        <th class="col-6 d-block d-lg-none d-xl-none">Detail</th>
        
                        <th class="col-lg-2 d-none d-lg-block">Date</th>
                        <th class="col-lg-3 d-none d-lg-block">Category</th>
                        <th class="col-lg-2 d-none d-lg-block text-right">Price</th>
                        <th class="col-lg-2 d-none d-lg-block text-right">Quantity</th>
                        <th class="col-lg-2 d-none d-lg-block text-right">Total</th>
                        <th class="col-lg-1 d-none d-lg-block text-center">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for itemaction in item.itemaction_set.all %}
                        <tr class="d-flex tbody-mono">
                            <td class="col-6 d-block d-lg-none d-xl-none">
                                
                                
                                <div class="text-right mb-2">
                                    {% if itemaction.status == "o" %}
                                        <div class="badge badge-warning">
                                            out
                                        </div>
                                    {% else %}
                                        <div class="badge badge-danger">
                                            in
                                        </div>
                                    {% endif %}
                                    <div class="float-left">
                                        <h6 class="mb-2"><small><strong>{{itemaction.date}}</strong></small></h6>
                                    </div>
                                </div>
                                
                                
                            
                                <div class="text-secondary">
                                    <small>Category: </small> {{itemaction.item.category}}
                                </div>
                            </td>
                            <td class="col-6 d-block d-lg-none d-xl-none">
                                <div class="text-right mb-2">
                                    <a href="{{ itemaction.get_absolute_url }}">
                                        <div class="badge badge-dark">
                                            <span class="fa fa-pencil"></span>
                                        </div>
                                    </a> 
                                    <span class="float-left"><h6 class="mb-2"><small><strong>{{itemaction.item}}</strong></small></h6></span>
                                </div>
        
                                    
                                
                                
        
                                
                                <small><div class="text-right"><span class="float-left">Price:</span>{{itemaction.price}}</div></small>
                                <small><div class="text-right"><span class="float-left">Quantity:</span>{{itemaction.quantity}}</div></small>
                                <hr class="m-0">
                                <small><div class="text-right"><span class="float-left">Total:</span>{{itemaction.get_total}}</div></small> 
        
                            </td>
                            <td class="col-lg-2 d-none d-lg-block">
                                <a href="{{ itemaction.get_absolute_url }}" class="float-left">
                                    <div class="badge badge-dark">
                                        <span class="fa fa-pencil"></span>
                                    </div>
                                </a>
                                &nbsp;{{itemaction.date}}</td>
                            <td class="col-lg-3 d-none d-lg-block">{{itemaction.item.category}}</td>
                            <td class="col-lg-2 d-none d-lg-block text-right">{{itemaction.price}}</td>
                            <td class="col-lg-2 d-none d-lg-block text-right">{{itemaction.quantity}}</td>
                            <td class="col-lg-2 d-none d-lg-block text-right">{{itemaction.get_total}}</td>
                            <td class="col-lg-1 d-none d-lg-block text-center">
                                {% if itemaction.status == "o" %}
                                    <div class="badge badge-warning">
                                        out
                                    </div>
                                {% else %}
                                    <div class="badge badge-danger">
                                        in
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
        </table>
    </div>

    <div class="container-fluid">
        <ul id="id_pagination" class="pagination pagination-sm justify-content-end">
        </ul>
    </div>

    <script>
        $(document).ready(function() {
            _tableData("#detailTable", "#searchText", "#id_pagination", "#pageLength"); 
        });

        
    </script>

    <script>
        $(document).ready(function() {
            
            /*
            $('#detailTable').DataTable();

            $("#searchItem").on("keyup",function() {
                var value = $(this).val().toLowerCase();
                $("#itemData td.col-item").filter(function() {
                    $(this).parent().toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });

            $("#searchAction").on("keyup",function() {
                var value = $(this).val().toLowerCase();
                $("#itemData td.col-action").filter(function() {
                    $(this).parent().toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
            */
        });
    </script>
{% endblock content %}
    

<!--
    {% for item in category.item_set.all %}
                    <tr class="d-flex">
                        <td class="col-sm-2">
                            <img class="img-fluid" src="//placehold.it/512x512" class="card-img-top">
                        </td>
                        <td class="col-sm-4">
                            {{item.name}} <br>
                            <small> {{item.description}} </small>
                        </td>
                        <td class="col-sm-6 px-0 py-0">
                            <div class="list-group list-group-flush">
                                {% if item.itemaction_set.all %}
                                    {% for itemaction in item.itemaction_set.all %}
                                        <div class="list-group-item list-group-item-action list-group-item-light">
                                            <h5> {{itemaction.date}} </h5>

                                            <div class="card-group">
                                                <div class="card border-secondary">
                                                    <div class="card-header py-0">
                                                        Price
                                                    </div>
                                                    <div class="card-body py-0">
                                                        {{itemaction.price}}
                                                    </div>
                                                </div>
                                                <div class="card border-secondary">
                                                    <div class="card-header py-0">
                                                        Quantity
                                                    </div>
                                                    <div class="card-body py-0">
                                                        {{itemaction.quantity}}
                                                    </div>
                                                </div>
                                                <div class="card border-secondary">
                                                    <div class="card-header py-0">
                                                        Total
                                                    </div>
                                                    <div class="card-body py-0">
                                                        {{itemaction.get_total}}
                                                    </div>
                                                </div>
                                            </div>                                            
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    
                                {% endif %}
                                    <div class="list-group-item list-group-item-action list-group-item-light">
                                        <span class="text-danger">more...</span>
                                    </div>
                            </div>  
                        </td>
                    </tr>
                {% endfor %}
-->