{% load widget_tweaks %}

{% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
{% endfor %}

{% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {% for error in form.non_field_errors %}
            {{ error }}
        {% endfor %}
    </div>
{% endif %}

{% for field in form.visible_fields %}
    <div class="form-group">
        <strong>
            <label class="mt-2 text-mono" for="{{ field.id_for_field }}">{{ field.label_tag }}</label>
        </strong>
        
        {% if form.is_bound %}
            {% if field.errors %}
                {% render_field field class="form-control is-invalid" %}
                {% for error in field.errors %}                
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                {% endfor %}
            {% else %}
                {% render_field field class="form-control is-valid text-mono" %}
            {% endif %}
        {% else %}
            

            
            {% comment %} {% if field.field.widget.input_type == "file" %} {% endcomment %}
            {% comment %} {{field.name}} {% endcomment %}
            {% if field.name == "image" %}
                <div class="row mb-2">
                    <div class="col-12 col-md-3">
                        {% if item.image %}
                            <img id="s_image" src="{{item.image.url}}" alt="{{item.image.url}}" class="img-thumbnail" 
                            style="width: 100%">
                        {% else %}
                            <img id="s_image" src="//placehold.it/512x512" class="img-thumbnail"
                            style="width: 100%">
                        {% endif %}
                        {% comment %} <img src="//placehold.it/512x512" class="img-fluid img-thumbnail"> {% endcomment %}
                    </div>
                    <div class="col-12 mt-2">
                        <input type="file" name="image" accept="image/*" id="id_image" placeholder="" class="form-control-file">
                        {% comment %} {% render_field field class="form-control-file" placeholder=field.help_text id="id_image" %} {% endcomment %}
                    </div>
                </div>
            {% else %}
                {% render_field field class="form-control" placeholder=field.help_text id=field.name %}
            {% endif %}
                
            
        {% endif %}

        <!--
        {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
        -->
    </div>
{% endfor %}






<input id="previous_url" type="hidden" name="previous_url" value="">


{% block javascript %}
<script>
    $(document).ready(function() {

        /* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
        $("#id_image").change(function () {
            if (this.files && this.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("#s_image").attr("src", e.target.result);
                }
                reader.readAsDataURL(this.files[0]);
            }
        });
    
        
        

        // get previous_url
        var referrer =  document.referrer;
        $("#previous_url").attr('value',referrer)
    });
</script>
    
{% endblock javascript %}
    

